.cells {
    height: 2vh;
    width: 2vh;
    background-color: #9FBBCC;
    margin: 2px;
}

#container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cellrow {
    display: flex;
    width: 100%;
    flex-direction: row;
}